extends _template

block vars
  -
    var page = {
      title: data.dictionary.home.title
    }

block footer
  script(type="text/javascript" src="./bundles/index.bundle.js")

block body 
  
  .jumbotron.text-center
    h1 {{ $title }}
    p= data.dictionary.home.welcome
    
  .container
    h3.text-center= data.dictionary.home.bunnyFeaturesTitle
    .row
      .col-sm-4
        h4= data.dictionary.home.column1.header
        p= data.dictionary.home.column1.p1
        p= data.dictionary.home.column1.p2
      .col-sm-4
        h4= data.dictionary.home.column2.header
        p= data.dictionary.home.column2.p1
        p= data.dictionary.home.column2.p2
      .col-sm-4
        h4= data.dictionary.home.column3.header
        p= data.dictionary.home.column3.p1
        p= data.dictionary.home.column3.p2
